.form-input-label {
  padding: 8px 0px 5px 5px;
  font-size: 16px;
}

.form-input-password,
.form-input-text {
  font-size: 16px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .form-input-label {
    font-size: 14px;
  }

  .form-input-password,
  .form-input-text {
    font-size: 14px;
    padding: 4px 8px;
  }
}

@media screen and (max-width: 480px) {
  .form-input-label {
    font-size: 12px;
  }

  .form-input-password,
  .form-input-text {
    width: 100%;
    font-size: 12px;
    padding: 3px 6px;
  }
}
